{% extends 'starter.html' %}

{% block css %}
    <style>
        .permission-area tr.parent {
            background-color: #cae7fd;;
        }

        .menu-body tr.active {
            background-color: #f1f7fd;
            border-left: 3px solid #fdc00f;
        }

    </style>
{% endblock %}
{% block title %}
        <h1>
            菜单展示
        </h1>
      {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-book"></i>菜单管理
                            <a href="{% url 'rbac:menu_add' %}" class="btn btn-success pull-right btn-sm" style="padding: 1px 3px;color:white;">
                                <i class="fa fa-plus"></i>新建
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>图标</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="menu-body">
                            {% for menu in menu_list %}

                                <tr class="{% if menu_id == menu.pk|safe %}active{% endif %}">   <!-- |safe把数字转化为字符串-->
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="?mid={{ menu.pk }}">{{ menu.name }}</a></td>
                                    <td><i class="{{ menu.icon }}"></i></td>
{#                                    {{ menu.icon }}#}
                                    <td>
                                        <a href="{% url 'rbac:menu_edit' menu.pk %}"><i class="fa fa-edit"></i></a>
                                        <a href="{% url 'rbac:menu_del' menu.pk %}"><i class="fa fa-remove"></i></a>                                    </td>
                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>


                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-cubes"></i>权限管理
                            <a href="{% url 'rbac:multi_permissions' %}" class="btn btn-primary pull-right" style="padding: 1px 3px;color:white;">
                                <i class="fa fa-scissors"></i>批量操作</a>
                            <a href="" class="btn btn-success pull-right" style="padding: 1px 3px;color:white;">
                                <i class="fa fa-plus"></i>新建</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover permission-area">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>URL</th>
                                <th>URL别名</th>
                                <th>菜单</th>
                                <th>所属菜单</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for permission in permission_list %}

                                <tr class="parent">

                                    <td><i class="fa fa-caret-down icon"></i> {{ permission.title }}</td>
                                    <td>{{ permission.url }}</td>
                                    <td>{{ permission.url_name }}</td>
                                    <td>是</td>
                                    <td>{{ permission.menus__name}}</td>

                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove"></i></a>                                    </td>
                                </tr>
                                {% for child_permission in permission.children %}
                                    <tr class="">

                                        <td>{{ child_permission.title }}</td>
                                        <td>{{ child_permission.url }}</td>
                                        <td>{{ child_permission.url_name }}</td>
                                        <td>

                                        </td>
                                        <td>{{ child_permission.menus|default:'' }}</td>

                                        <td>
                                            <a href=""><i class="fa fa-edit"></i></a>
                                            <a href=""><i class="fa fa-remove"></i></a>                                    </td>
                                    </tr>
                                {% endfor %}


                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>



{% endblock %}


{% block js %}
    <script>
        $('.parent').click(function () {
            $(this).find('.icon').toggleClass('fa-caret-right');
            $(this).nextUntil('.parent').toggleClass('hidden');
        })

    </script>

{% endblock %}



