{% extends 'starter.html' %}

{% block title %}

    <h1>学习记录展示</h1>

{% endblock %}

{% block content %}
    <!--信息表-->
    <div class="container-fluid">
{#    {% load mytag %}#}
{#        <a href="" class="btn btn-primary">添加课程记录</a>#}

        <!-- 搜索功能 -->
        <form class="form-inline pull-right" action="#" method="get">
            <div class="form-group">
                <select name="search_field" id="search_field" class="form-control">
                    <option value="course_title" selected>课程</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入" name="keyword" value="{{ keyword|default:'' }}">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>

        </form>



        <form class="form-inline " action="" method="post">
        {{ formset.management_form }}   <!-- 必须添加 -->
        {{ formset.errors }}   <!-- 展示错误信息 [] -->
        {% csrf_token %}

            <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th><input type="checkbox" id="checkAll"></th>
                <th>序号></th>
                <th>考勤</th>
                <th>本节成绩</th>
                <th>作业批语</th>
                <th>某节课程</th>
                <th>学员</th>

{#                <th>操作</th>#}
            </tr>
            </thead>
            <tbody id="inputTbody">
            {% for field in formset %}
                <tr>
                    {{ field.id }}   <!-- 必须添加 == <input type="hidden" name="form-0-id" value="1" id="id_form-0-id">-->
                    <td><input type="checkbox" name="cids"  value="{{ field.id.value }}"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ field.attendance }}</td>
                    <td>{{ field.score }}</td>
                    <td>{{ field.homework_note }}</td>
                    <td>{{ field.instance.course_record }}</td>
                    <td class="hidden">{{ field.course_record }}</td>
                    <td>{{ field.instance.student.name }}</td>
                    <td class="hidden">{{ field.student }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="btn bg-primary pull-right">保存</button>
        </form>

        {{ page_html }}

    </div>
{% endblock %}