{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-horizontal" action="" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in book_form_obj %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-sm-6">{{ field }}</div>
                            <div class="col-sm-2"><span class="text-danger">{{ field.errors.0 }}</span></div>
                        </div>
                    {% endfor %}
                    <button class="btn btn-success pull-right">提交</button>  <!--默认type="submit"-->
                </form>
            </div>
        </div>
    </div>
{% endblock %}