{% extends 'starter.html' %}

{% block title %}
    <h1>
        跟进记录展示页面
    </h1>
{% endblock %}

{% block content %}
    <!--信息表-->
    <div class="container-fluid">
        <a href="{% url 'sales:addcustomer' %}" class="btn btn-primary">添加跟进记录</a>

        <!-- 搜索功能 -->
        <form class="form-inline pull-right" action="#" method="get">
            <div class="form-group">
                <select name="search_field" id="search_field" class="form-control">
                    <option value="qq">qq</option>
                    <option value="name">姓名</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="search_word" placeholder="请输入" name="keyword" value="{{ keyword|default:'' }}">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
        </form>
        <hr>


        <form class="form-inline " action="#" method="post">
        {% csrf_token %}
            <div class="form-group">
                <select name="action" class="form-control">
                    <!-- 使用自定义标签 -->
                    <option value="blank">————————</option>
                    <option value="bulk_delete">批量删除</option>

                </select>
                <button type="submit" class="btn btn-warning">go</button>
            </div>
            <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>

                <th><input type="checkbox" id="checkAll"></th>
                <th>序号></th>
                <th>QQ号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>咨询课程</th>
                <th>状态</th>
                <th>销售</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="inputTbody">
            {% for customer in all_customer %}
                <tr>
                    <td><input type="checkbox" name="cids"  value="{{ customer.pk }}"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ customer.qq }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.get_sex_display }}</td>  <!--对于配置了choices参数的字段，django提供了get_xxx_display方法 -女-->
                    <td>{{ customer.course }}</td>
                    <td>{{ customer.status }}</td>
                    <td>{{ customer.consultant }}</td>
                    <td>
{#                        <a href="{% url 'sales:editcustomer' customer.pk %}"><i class="fa fa-edit fa-2x"></i></a>#}
{#                        <a href="{% url 'editcustomer' customer.pk %}?next={{ request.get_full_path }}"><i class="fa fa-edit fa-2x"></i></a>#}
                        <a href="{% reverse_url 'sales:editcustomer' customer.pk request %}"><i class="fa fa-edit fa-2x"></i></a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    
        {{ page_html }}
    
    </div>
{% endblock %}

{% block js %}
    <script>

        var a = '{{ search_field }}';
        $('#search_field').val(a);




        // 全选、反选
        var $checkAll= $('#checkAll');
        $checkAll.click(function () {
            $('#inputTbody :checkbox').prop('checked',$(this).prop('checked'));
        });

        $('#inputTbody :checkbox').click(function () {
            if($('#inputTbody :checkbox').length === $('#inputTbody :checked').length){
                $checkAll.prop('checked',true);
            }else {
                $checkAll.prop('checked',false);
            }
        })


    </script>
{% endblock %}
