{% extends 'starter.html' %}

{% block title %}
    <h1>
        {% if tag == 1 %}
            公户信息展示
        {% elif tag == 0 %}
            我的客户信息
        {% endif %}
        <small>Optional description</small>
    </h1>
{% endblock %}

{% block content %}
    <!--信息表-->
    <div class="container-fluid">
        <a href="{% url 'addcustomer' %}" class="btn btn-primary">添加客户信息</a>

        <!-- 搜索功能 -->
        <form class="form-inline pull-right" action="#" method="get">
            <div class="form-group">
                <select name="search_field" id="search_field" class="form-control">
                    <option value="qq">qq</option>
                    <option value="name">姓名</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="search_word" placeholder="请输入" name="keyword" value="{{ keyword|default:'' }}">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
        </form>
        <hr>


        <form class="form-inline " action="#" method="get">
            <div class="form-group">
                <select name="" id="" class="form-control">
                    <!-- 使用自定义标签 -->
                    {% load mytag %}
                    {% show_info request %}   <!-- 传入参数request -->


                </select>
                <button type="submit" class="btn btn-warning">go</button>
            </div>
            <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>

                <th><input type="checkbox" name="select_cids"></th>
                <th>QQ号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>咨询课程</th>
                <th>状态</th>
                <th>销售</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in all_customer %}
                <tr>

                    <td><input type="checkbox" name="cid"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ customer.qq }}</td>
                    <td>{{ customer.name }}</td>
{#                    <td>{{ customer.sex }}</td>   male#}
                    <td>{{ customer.get_sex_display }}</td>    <!-- 女 -->
                    <td>{{ customer.course }}</td>
                    <td>{{ customer.status }}</td>
                    <td>{{ customer.consultant }}</td>
                    <td>
                        <a href="{% url 'editcustomer' customer.pk %}"><i class="fa fa-edit fa-2x"></i></a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    
        {{ page_html }}
    
    </div>
{% endblock %}

{% block js %}
    <script>

        {#$('#search_field option:first').prop("selected",'selected')#}


        var a = '{{ search_field }}';    // search_field=liye
        $('#search_field').val(a);



    </script>
{% endblock %}
