# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Office\backend_sys\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
